/*------------------------------------*\
  $PAGE
\*------------------------------------*/

body {
  margin: 0 3em;
}

/**
 * Page level wrapper
 */
.wrapper {
  max-width: 50em;
  margin: 4em auto;
}

/**
 * Home page wrapper
 */
.wrapper {
  margin-left: 16em;
}