/*------------------------------------*\
  $PAGE
\*------------------------------------*/

html, body {
  height: 100%;
  min-height: 100%;
  margin-bottom: 2em;
}

/**
 * Page level wrapper
 */
.wrapper {
  margin: 0 2em;
  max-width: 45em;
  padding: 0 0 2em;
}
