/**
 * Next / prev post paging
 */
.paging {
  .previous, .next {
    display: inline-block;
    font-size: 3em;
    margin-top: -1.5em;
    position: fixed;
    top: 50%;
    a {
      color: #ddd;
      padding: 0.5em;
      &:hover {
        color: $brand-color;
      }
    }
  }
  .next {
    right: 0;
  }
  .previous {
    left: 0;
  }
}

/**
 * Style adjustments for tablet sized screens
 */
@media only screen and (max-width: 49em) {

  /**
   * Page
   */
  .wrapper {
    margin: 0 2em;
  }

  .header {
    .btn-home {
      left: 0.5em;
      top: 0.5em;
    }
  }

  /**
   * Post
   */
  .paging {
    overflow: hidden;
    margin: 1em 0;
    .next,
    .previous {
      position: static;
    }
    .next {
      float: right;
    }
    .previous {
      float: left;
    }
  }

  .comments {
    margin: 1em 0;
  }

}


/**
 * Style adjustments for mobile sized screens
 */
@media only screen and (max-width: 35em) {

  /**
   * Page
   */


  /**
   * Typography
   */
  body {
    font-size: 0.9em;
  }

  .post-title {
    font-size: 2.4em;
  }

  /**
   * Header
   */


  /**
   * Post
   */
  .signoff {
    padding: 1em;
    text-align: center;
    .avatar {
      position: static;
      width: 7em;
      margin-bottom: 1em;
    }
  }

}