/**
 * Style adjustments for tablet sized screens
 */
@media only screen and (max-width: 65em) {

  /**
   * Page
   */
  .header {
    padding: 1em;
    width: 8em;
  }

  .wrapper {
    margin-left: 12em;
  }

  /**
   * Post
   */
  .paging {
    overflow: hidden;
    margin: 1em 0;
    .next,
    .previous {
      position: static;
    }
    .next {
      float: right;
    }
    .previous {
      float: left;
    }
  }

  .comments {
    margin: 1em 0;
  }

}


/**
 * Style adjustments for mobile sized screens
 */
@media only screen and (max-width: 35em) {

  /**
   * Page
   */
  .wrapper {
    margin: 0 2em;
  }

  /**
   * Typography
   */
  body {
    font-size: 0.9em;
  }

  .post-title {
    font-size: 2.4em;
  }

  /**
   * Header
   */
  .header {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0.5em 2em;
    position: relative;
    width: auto;
    height: auto;
    text-align: left;
    .logo {
      display: inline-block;
      margin-right: 1em;
      width: 4em;
      vertical-align: middle;
    }
    .avatar {
      display: block;
      width: auto;
    }
    .site-title {
      display: none;
    }
    .site-description {
      display: none;
    }
  }

  .links {
    display: inline-block;
    font-size: 1.2em;
    line-height: 2.5em;
    margin: 0 -0.5em;
    vertical-align: middle;
    li {
      display: inline-block;
    }
    a {
      display: inline-block;
      padding: 0.5em;
    }
  }

  /**
   * Post
   */
  .signoff {
    padding: 1em;
    text-align: center;
    .avatar {
      position: static;
      width: 7em;
      margin-bottom: 1em;
    }
  }

}