/*------------------------------------*\
  $TYPOGRAPHY
\*------------------------------------*/

/**
 * Body
 */
body {
  font-family: $body-font;
  font-weight: 400;
  font-size: 87.5%;
  color: $text-color;
  line-height: 1.5;
  -webkit-font-smoothing:antialiased;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 700;
  color: #222;
  line-height: 1.2;
}

.post-content {
  h1, h2, h3 {
    border-bottom: 2px solid #eee;
    margin-top: 1.5em;
    padding-bottom: 0.5em;
  }
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }

/**
 * Links
 */
a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.2s linear;
  &:hover {
    color: darken($link-color, 20%);
  }
}

p a {
  font-weight: 700;
}

/**
 * Images
 */
p img {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * Paragraphs
 */
.post-content p {

}

/**
 * Definition lists
 */
dl {
  text-align: left;
  @extend .cf;
}

dt {
  color: lighten($text-color, 40%);
  float: left;
  font-family: $heading-font;
  font-size: 0.8em;
  margin-right: 5%;
  text-transform: uppercase;
  width: 30%;
}

dd {
  float: left;
  margin: 0;
  width: 65%;
}

/**
 * Code
 */
pre {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  color: #fff;
  padding: 1em 1.5em;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  code {
    background: none;
  }
}

pre, code, kbd, samp{
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono",
               "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

code, kbd, samp{
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color: lighten($text-color, 20%);
  padding: 0 0.1em;
  pre & {
    color: #fff;
  }
}

/**
 * Horizontal rules
 */
hr {
  border: 0;
  border-top: 2px solid #eee;
  margin: 1em 0;
}

/**
 * Blockquote
 */
blockquote {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color: lighten($text-color, 20%);
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding: 0.5em 1.5em;
}

/**
 * Run-in
 */
.run-in {
  font-family: "Alegreya SC", serif;
  font-size: 1.2em;
  line-height: 1.1;
}

/**
 * Drop cap
 */
.dropcap {
  background: $brand-color;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.65em;
  margin-right: 0.25em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}

/**
 * Lists
 */
