/*------------------------------------*\
  $VARS
\*------------------------------------*/

$brand-color: #00A092;
$text-color: #444;
$body-font: "Merriweather", serif;
$heading-font: "Source Sans Pro", sans-serif;