{% if page.previous or page.next %}
<section class="paging">
  {% if page.next %}
    <div class="previous">
      <a href="{{ page.next.url }}">
        <span class="arrow">&larr;</span>
        <span class="label">{{ page.next.title }}</span>
      </a>
    </div>
  {% endif %}
  {% if page.previous %}
    <div class="next">
      <a href="{{ page.previous.url }}">
        <span class="label">{{ page.previous.title }}</span>
        <span class="arrow">&rarr;</span>
      </a>
    </div>
  {% endif %}
</section>
{% endif %}