<div class="block signoff">
  <a href="/about/" class="avatar">
    <img src="http://gravatar.com/avatar/bacec27492e5efab8e940b37b3365406?s=150">
  </a>
  <h3>
    <a href="/about/">{{ site.signoff }}</a>
  </h3>
  <p>
    I am a multi-disciplined designer, developer and freelancer from Toronto. I run <a href="http://pomelodesign.com">Pomelo</a>, a boutique web development studio, <a href="/">write</a>, <a href="http://twitter.com/bostondv">tweet</a> and <a href="http://github.com/bostondv">share code</a>. See <a href="/about/">my bio</a> for more.
  </p>
</div>