<div class="block signoff" vocab="http://schema.org/" typeof="person" property="author">
  <a href="/about/" class="avatar">
    <img src="http://gravatar.com/avatar/bacec27492e5efab8e940b37b3365406?s=150" property="image">
  </a>
  <div class="description">
    <p property="description"><em>Hello!</em> I'm <strong>Boston Dell-Vandenberg</strong>. A multi-disciplined designer, developer and freelancer from Toronto. See <a href="/about/">my bio for more</a>.</p>
    <dl class="contact">
      <dt>Twitter</dt>
      <dd><a href="http://twitter.com/bostondv">@bostondv</a></dd>
      <dt>Email</dt>
      <dd><a href='m&#97;ilt&#111;&#58;me&#64;%62ost&#37;6F&#37;6E%&#54;&#52;v&#46;&#99;%6&#70;m'>me&#64;bostondv&#46;com</a></dd>
      <dt>Github</dt>
      <dd><a href="http://github.com/bostondv">/bostondv</a></dd>
      <dt>Hire me</dt>
      <dd><a href="http://pomelodesign.com">Pomelo Design</a></dd>
    </dl>
  </div>
</div>