---
layout: default
---
<section class="post" vocab="http://schema.org/" typeof="article">
  {% if page.image %}
    <div class="post-image">
      <img src="{{ page.image }}" property="image">
    </div>
  {% endif %}
  <h1 class="post-title" property="name">
    {{ page.title }}
  </h1>
  <div class="post-content" property="articlebody">
    {{ content }}
  </div>
  {% if page.date %}
    {% include meta.html %}
    {% include signoff.html %}
  {% endif %}
</section>
{% include pages.html %}
{% if page.share == 'y' %}
  {% include share.html %}
{% endif %}
{% if page.disqus == 'y' %}
  {% include disqus.html %}
{% endif %}
