---
layout: default
---

{% if page.image %}
  <div class="post-image-header" style="background-image: url({{ page.image }});"></div>
{% endif %}

<div class="wrapper">
  <div class="content">

    <section class="post" vocab="http://schema.org/" typeof="article">
      {% if page.image %}
        <img src="{{ page.image }}" property="image" class="hide">
      {% endif %}
      <h1 class="post-title" property="name">
        {{ page.title }}
      </h1>
      <div class="post-content" property="articlebody">
        {{ content }}
      </div>
      <div class="post-meta">
        <ul>
          <li><strong>Roles:</strong> {{ page.roles | array_to_sentence_string }}</li>
          <li><strong>Type:</strong> {{ page.type | array_to_sentence_string }}</li>
          <li><a href="{{ page.site }}" class="btn">View Project &rarr;</a></li>
        </ul>
      </div>
    </section>
    {% include pages.html %}
    {% if page.disqus == 'y' %}
      {% include disqus.html %}
    {% endif %}

  </div>
  {% include sidebar.html %}
</div>
